<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MySite Board</title>
<link rel="stylesheet" href="../../assets/css/mysite.css">
<link rel="stylesheet" href="../../assets/css/board.css">
</head>
<body>
<div id="wrap">
	<div id="header" class="clearfix">
		<h1>MySite</h1>
		<ul>
			<li><a href="">로그인</a></li>
			<li><a href="../sign/signup.html">회원가입</a></li>
		</ul>
	</div>
	<!-- header -->
	
	<div id="nav">
		<ul class="clearfix">
			<li><a href="">입사지원서</a></li>
			<li><a href="../board/list.html">게시판</a></li>
			<li><a href="">갤러리</a></li>
			<li><a href="">방명록</a></li>
		</ul>
	</div>
	<!-- nav -->
	
	<div id="contents" class="clearfix">
		<div id="aside">
			<h2>게시판</h2>
			<ul>
				<li><a href="">일반 게시판</a></li>
				<li><a href="">댓글 게시판</a></li>
				<li><a href="">첨부 게시판</a></li>
			</ul>
		</div>
		<!-- aside -->
		<div id="main-content" >
			<div id="main-content-header" class="clearfix">
				<h3>일반게시판</h3>
				<ol>
					<li>홈</li>
					<li>게시판</li>
					<li class="last">일반게시판</li>
				</ol>
			</div>
			<div id="main-content-body">
				<div id="search">
					<input type="text"></input>
					<button type="button">검색</button>
				</div>
				<table border="1">
					<colgroup>
						<col style="width: 50px">
			    		<col style="width: 300px">
			    		<col style="width: 100px">
			    		<col style="width: 100px">
			    		<col style="width: 200px">
			    		<col style="width: 100px">
					</colgroup>
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>글쓴이</th>
							<th>조회수</th>
							<th>작성일</th>
							<th> </th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddd</td>
							<td>yyyy-mm-dd</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddd</td>
							<td>yyyy-mm-dd</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddd</td>
							<td>yyyy-mm-dd</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddd</td>
							<td>yyyy-mm-dd</td>
							<td>삭제</td>
						</tr>
						<tr>
							<td>aaaa</td>
							<td>bbbbbbbbbbbbbb</td>
							<td>cccccc</td>
							<td>dddd</td>
							<td>yyyy-mm-dd</td>
							<td>삭제</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- main-content-body -->
			<div id="main-content-footer">
				<ol>
					<li><a href="">◀</a></li>
					<li><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li><a href="">6</a></li>
					<li><a href="">7</a></li>
					<li><a href="">8</a></li>
					<li><a href="">9</a></li>
					<li><a href="">10</a></li>
					<li><a href="">▶</a></li>
				</ol>
				<button type="button" id="btn-write"><a href="writeForm.html">글쓰기</a></button>		
			</div>
		</div>
		<!-- main -->
	</div>
	<!-- contents -->
	
	<div id="footer">
		<div>Copyright ⓒ 2022 박깜이. All right reserved</div>
	</div>
</div><!-- wrap -->
</body>
</html>